<header class="header">
	<div class="header__navbar _container">
		<div class="header__right">
			<div class="header__logo icon-cinema"></div>
			<div class="header__menu menu">
				<button class="menu__icon icon-menu btn">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<nav class="menu__body">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link">Главная</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Фильмы</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Кинотеатры</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">События</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Поддержка</a>
						</li>
					</ul>
				</nav>
				<nav class="mobile-nav">
					<ul class="mobile-nav__list">
						<li class="mobile-nav__item">
							<a href="#" class="mobile-nav__link">
								<div
									class="header__logo-mobile icon-cinema"
								></div>
							</a>
						</li>
						<li class="mobile-nav__item">
							<a href="#" class="mobile-nav__link">Главная</a>
						</li>
						<li class="mobile-nav__item">
							<a href="#" class="mobile-nav__link">Фильмы</a>
						</li>
						<li class="mobile-nav__item">
							<a href="#" class="mobile-nav__link">Кинотеатры</a>
						</li>
						<li class="mobile-nav__item">
							<a href="#" class="mobile-nav__link">События</a>
						</li>
						<li class="mobile-nav__item">
							<a href="#" class="mobile-nav__link">Поддержка</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header__left">
			<div class="header__user user-header">
				<a href="#" class="user-header__name">Привет, Мила</a>
				<img
					src="/assets/images/user-header.svg"
					alt="user"
					class="user-header__logo"
				/>
			</div>
		</div>
	</div>
</header>
