.characteristic-film {
    display: flex;
}

.film-raiting {
    display: flex;
    align-items: center;
    // .film-raiting__company
    &__company {
        margin-right: 1.2rem;
    }
    // .film-raiting__rate
    &__rate {
        display: flex;
        align-items: center;
    }
    // .film-raiting__rate-first
    &__rate-first {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 150%;
    }
    // .film-raiting__rate-second
    &__rate-second {
        font-size: 1.6rem;
        line-height: 150%;
    }
}
